<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
    <head>
            <title>Shahil</title>
            <link rel="icon" href="images/favicon.ico">
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
            <link rel="stylesheet" href="assets/css/main.css" />
            <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    
    
    
            <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyB1L8w8kCSKkPB-7lO_O2Z77lPmKFT6WPc",
    authDomain: "shahilislam-66e02.firebaseapp.com",
    databaseURL: "https://shahilislam-66e02.firebaseio.com",
    projectId: "shahilislam-66e02",
    storageBucket: "shahilislam-66e02.appspot.com",
    messagingSenderId: "598912669161"
  };
  firebase.initializeApp(config);
</script>
    
    <script src="app.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
    
    
    
        </head>
        <body class="is-loading" ng-controller="ChatController">
    
            <!-- Wrapper -->
                <div id="wrapper">
    
                    <!-- Header -->
                        <header id="header">
                            <a href="index.html" class="logo">CHAT</a>
                        </header>
    
                    <!-- Nav -->
                        <nav id="nav">
                            <ul class="links">
                                <li><a href="index.html">This is shahil</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li  class="active"><a href="chat.html">Chat</a></li>
                                <li><a href="chatbot.html">ChatBot</a></li>
                            </ul>
                            <ul class="icons">
                                    <li><a href="https://twitter.com/islam_shahil" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                    <li><a href="https://www.facebook.com/shahil.islam1" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                    <li><a href="https://www.instagram.com/islamshahil/" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                    <li><a href="https://github.com/islamshahil" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCFzT5d9pIvOBEmt075heEhA" target="_blank" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
                            </ul>
                        </nav>
    
                    <!-- Main -->
                        <div id="main">
    
                            <!-- Post -->
                                <section class="post">
                                    <header class="major">
    
                                            <div class="container">
                                                    <div class="panel panel-primary">
                                                
                                                        <div class="panel-heading">Web Based Chat Application</div>
                                                        
                                                        <div class="panel-body">

                                                                <input type="text" placeholder="Name" ng-model="nameText">
                                                              <!--  <button type="submit" class="btn btn-default" ng-click="send()">Enter</button> -->
                                                               
                                                                &nbsp;

                                                                <div style="border:1px solid black;width:100%;height:400px;overflow:scroll;overflow-y:scroll;overflow-x:hidden;">
                                                                    <p ng-repeat="m in messages">{{m.name}}: &emsp; {{m.message}}  &emsp;  -{{m.date | date:'medium'}}</p>
                                                                </div>
                                                                 
                                                                &nbsp; 

                                                                   
                                                                    
                                                                    
                                                            
                                                            <div class="form-group">
                                                                <input type="text" id='messege' class="form-control" placeholder="Message here..." ng-model="messageText">
                                                            
                                                            </div>

                                                            <button type="submit" id='send_messege' class="btn btn-default" ng-click="send()">Send</button>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
    
                                    </header>
    
                                </section>
    
                        </div>
    
                    
                    <!-- Copyright -->
                        <div id="copyright">
                                <ul><li>&copy; Shahil</li><li>All Rights Reserved <a href="#">2018</a></li></ul>
                        </div>
    
                </div>
    
            <!-- Scripts -->
                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/js/jquery.scrollex.min.js"></script>
                <script src="assets/js/jquery.scrolly.min.js"></script>
                <script src="assets/js/skel.min.js"></script>
                <script src="assets/js/util.js"></script>
                <script src="assets/js/main.js"></script>
                
        </body>
    </html>
